# Archivos de entorno - ¡No subir a GitHub!
.env
.env.*.local

# Dependencias
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Directorios de build
/dist
/build
